<h1>Home - Event Planner</h1>

<div>
    Hello <%= current_user.email %>
    <%= link_to "[Profile]", user_path(current_user.id) %>
</div>

<div>
    <%= button_to "Log Out", destroy_user_session_path, method: :delete %>
</div>
